nav.sidebar{
  width: 52px; 
  height: 100dvh;;
  background-color: rgb(69, 69, 69);
  
  display: flex; 
  flex-direction: column;;
  justify-content: space-between;

}

div.sidebar-top{
  display: flex;
  flex-direction: column;;
  align-items: center;
  gap: 20px; 
}
div.sidebar-bottom{
  display: flex;
  flex-direction: column;;
  align-items: center;
  gap: 20px; 
}

.icon{
  height: 32px; 
  width: 32px; 
  background-color: rgb(118, 118, 118);
}

hr.divider{
  height: .75px;  
  width: 75%;
  background-color: rgb(121, 121, 121); 
  margin: 0 auto; 
  border: 0 ; 
}

