nav.sidebar{
  width: 52px; 
  height: 100dvh;;
  background-color: rgb(198, 183, 183);
  
  display: flex; 
  flex-direction: column;;
  justify-content: space-between;

}

div.sidebar-top{
  display: flex;
  flex-direction: column;;
  align-items: center;
  gap: 20px; 
}
div.sidebar-bottom{
  display: flex;
  flex-direction: column;;
  align-items: center;
  gap: 20px; 
}



.icon{
  height: 12px; 
  width: 12px; 
  background-color: rgb(139, 127, 127);
}

